<p>{{msg}}</p> 
<button (click)="showmsg()">Show msg</button>
<app-counter-display></app-counter-display>
<app-counter-button></app-counter-button>
<h1>{{"hello world how are you today" |initials}}</h1>
<h2>{{"Ron Capner"| initials}}</h2>
<h1 *ngIf="isLoggedin">Welcome</h1>
<h1 *ngIf="!isLoggedin">Login </h1>
<h2>Product Price: {{productPrice | currency:"GBP"}}</h2>
<ul>
  <li *ngFor="let c of countries"
  [ngClass]="{'highlight':c=='c3'}"
  
  >{{c}}</li>
</ul>
<app-pipechallenge></app-pipechallenge>
<app-todo></app-todo>
<!-- <app-counter #mycounter></app-counter>
<button (click)="mycounter.reset()">Reset</button>
<app-postcard postcode="325622" area="abc" 
(mapRequested) ="showOnMap($event)"></app-postcard>
<app-postcard postcode="445566" area="aabbc"

(mapRequested) ="showOnMap($event)"></app-postcard>
<hr>
<h1>selected name :{{selectedPerson}}</h1>
<app-greeting-card *ngFor="let p of persons" [personName]="p.name"
[personEmail]="p.email"
(personSelected)="setSelected($event)"
></app-greeting-card> -->

<!-- <app-home></app-home> -->
<!-- <app-bindings></app-bindings>
Enter city : <input type="text" [(ngModel)]="search_terms">
{{search_terms}}
<hr>
<app-header></app-header>
<app-user-profile></app-user-profile>

<h1>Welcome to Angular</h1>
<p>
  Learning Angular in 2025
</p> -->
