/* h1
{
    color:purple;
    text-align: center;
}
p
{
    background-color: goldenrod;
    text-align: center;
}
.highlight
{
    background-color:yellow;
} */
.light-theme
{
    background-color:white;
    color:black;
}
.dark-theme
{
    background-color: black;
    color:white;
}