.container
{
    display :flex;
}
.sidebar
{
    width:20%;
    height:100dvh;
    background-color: aqua;
}
.content
{
    width:80%;
    height:100dvh;
    background-color: aquamarine;
}
.footer
{
    background-color: black;
    color: white;
    text-align: center;
}